/* Color Theme Swatches in Hex */
.Nutripets2-1-hex { color: #90B031; }
.Nutripets2-2-hex { color: #90B04F; }
.Nutripets2-3-hex { color: #285011; }
.Nutripets2-4-hex { color: #40481F; }
.Nutripets2-5-hex { color: #d7daa7; }

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d8b6;
    font-family: 'Nunito', sans-serif;
    color: #40481F;
}

header {
    background-color: #90B031;
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav {
    text-decoration: none;
    width: 100%;
}

main {
    margin: 60px 0 60px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

section {
    width: 100%;
    justify-content: center;
}

article {
    margin-bottom: 25px;
}

footer {
    background-color: #90B04F;
    height: 50px;
    width: 100%;
    position: fixed; 
    display: flex;
    bottom: 0;
    padding-top: 20px;
}

ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
}

h1{
    color: #40481F;
    text-align: center;
    margin: 15px 0 25px 0;
}

h2 {
    margin-bottom:10px;
    color:#285011;
}

a {
    text-decoration: none;
    color:#FFFFFF;
}

form {
    width: 550px;
    padding: 10px 1px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #90B04F;
    color:#FFFFFF;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

img {
    height: 100%;
}

iframe{
    width: 100%;
}
.navbar-brand {
    width: 30%;
    height: 60px;
    display: inline-block;
    text-align: center;
}

.brand-logo{
    height: 100%;
    border-radius: 50%;
}

.menu {
    width: 70%;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-item {
    height: 60px;
    width: 20%;
    text-align: center;
    vertical-align:middle;
    padding-top:18px;
    font-size: 16px;
}

.div-footer-socialmedia {
    position: fixed;
    text-align: left;
    font-size: 25px;
    padding-right: 15px;
    width: 60%;
}

.div-footer-copyright {
    color:#40481F;
    font-size: 14px;
    padding: 8px 0 0 10px;
    width: 40%;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-products {
    justify-content: space-around;
}

.div-product{
    height: 250px;
    width: auto;
}

.article-text {
    max-height: 300px;
    width: 60%;
}

.align-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-image {
    max-height: 270px;
    width: 40%;
}

.nosotros-map {
    width: 40%;
}

.nosotros-description {
    width: 60%;
}

.form-question {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    padding: 5 px;
    width: 95%;
}

.form-control {
    display: block;
    width: 100%;
    height: 15px;
    padding: 10px 10px;
    color: #495057;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1px;
}

.input-radio{
    display: inline-block;
    margin-right: 2px;
    min-height: 1px;
    min-width: 1.25rem;
}

.radio-group{
    margin-left: 25px;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 2px;
}

.opt-label {
    display: inline-flex;
    margin-left: 1px;
}

.submit-button {
    display: block;
    width: 99%;
    padding: 8px;
    color: inherit;
    background: #285011;
    opacity: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

#div-portada {
    height: 400px;
}

#portada{
    height: 100%;
    opacity: 0.9;
    border-radius: 5px;
}

#opt-question {
    align-items:flex-start;
}

/*Pantallas pequeñas*/
@media only screen and (max-width:600px) {
    header {
        flex-direction: column;
        align-items: center;
        height: 100px;
    }

    main {
        margin: 100px 0 60px 0;
    }
}

/*Pantalla mediana*/
@media only screen and (min-width:600px) and (max-width:992px) {
    
}